@import url("https://fonts.googleapis.com/css2?family=Amatic+SC:wght@700&display=swap");

* {
  margin: 0;
  padding: 0;
  /* border: 1px solid red; */
}
body {
  text-align: center;
}

header {
  height: 100vh;
  width: 100%;
  background: url("img/header.jpg");
  background-size: cover;
  background-position: center;
  display: flex;
  align-items: center;
  justify-content: center;
}

header h1 {
  font-family: Arial, Helvetica, sans-serif;
  background-clip: text;
  font-size: 4em;
  height: 100px;
  display: flex;
  align-items: center;
  padding: 70px;
  border-radius: 10px;
  font-weight: 900;
  color: white;
  background: rgba(63, 62, 60, 0.658);
}
body {
  /* background-image: url(img/body.jpg); */
  /* background-position: 0 70vh; */
  /* background-repeat: no-repeat;
  background-size: contain; */
  display: flex;
  flex-direction: column;
  align-content: space-around;
  background-image: url(img/body2.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
}

/* end of header */
/* main {
  background-image: url(img/main-pic.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
} */

/* mainn......!!!! */
/* main { */
/* width: 100vw;
} */

/* main */
#meal-section {
  padding: 20px;
  min-height: 500px;
  background-color: rgba(112, 112, 101, 0.425);
  width: 85vw;
  margin: 20px auto;
  /* background-color: rgb(114, 44, 44); */
  /* border: 1px solid green; */
}

img {
  height: 300px;
}

#meals {
  background-color: rgba(54, 32, 28, 0.527);
}
#mealsContainer {
  display: flex;
  margin: 0 auto;
  min-height: 450px;
  /* border: 1px solid yellow; */
  justify-content: space-around;
  flex-wrap: wrap;
  border-radius: 5px;
}

#mealsContainer div {
  margin: 10px;
  text-align: center;
  /* border: 1px solid white; */
}

#mealsContainer div h3 {
  color: white;
  font-family: "Amatic SC", cursive;
  font-size: 30px;
}

#category-description {
  height: 500px;
  width: 1000px;
  margin: auto;
  /* background: yellow; */
}

#description-container div {
  /* border: 1px solid white; */
  padding: 50px 40px;
  background: rgba(0, 0, 0, 0.493);
  margin: 20px auto;
  position: relative;
  border-radius: 5px;
  color: rgb(199, 199, 199);
}
#description-container div h3 {
  font-size: 4em;
  padding: 20px 0;
  font-family: cursive;
}
#description-container div p {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  height: 0;
  width: 90%;
  padding: 0 50px;
  overflow: hidden;
  font-family: "Amatic SC", cursive;
  /* border: 1px solid red; */
  display: flex;
  font-size: 1.8em;
  align-items: center;
  background-color: rgba(224, 224, 224, 0.966);
  color: rgb(87, 87, 87);
  transition: 1s ease;
  border-radius: 5px;
}

#description-container > div:hover .hide-paragraph {
  height: 100%;
}

@media (max-width: 500px) {
  header {
    height: 70vh;
    padding-top: 0;
  }
  header h1 {
    font-size: 1.5em;
    padding: 30px;
    height: 70px;
  }
  img {
    height: 100px;
  }
  main {
    max-width: 100vw;
  }
  #category-description {
    width: 100vw;
  }

  #description-container div h3 {
    font-size: 2em;
    padding: 20px 0;
    font-family: cursive;
  }
  #description-container div p {
    font-size: 1.1em;
    transition: 1s ease;
    border-radius: 5px;
    padding: 0 20px;
    height: 0;
  }
  #description-container > div:hover .hide-paragraph {
    height: 100%;
  }
}
