@import url("https://fonts.googleapis.com/css2?family=Amatic+SC:wght@700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Ubuntu+Condensed&display=swap");

* {
  margin: 0;
  padding: 0;
  /* border: 1px solid red; */
}
body {
  text-align: center;
  position: relative;
}
button {
  cursor: pointer;
}

header {
  height: 100vh;
  width: 100%;
  background: url("img/header.jpg");
  background-size: cover;
  background-position: center;
  display: flex;
  align-items: center;
  justify-content: center;
}

header h1 {
  font-family: Arial, Helvetica, sans-serif;
  background-clip: text;
  font-size: 4em;
  height: 100px;
  display: flex;
  align-items: center;
  padding: 70px;
  border-radius: 10px;
  font-weight: 900;
  color: white;
  background: rgba(46, 46, 46, 0.808);
}
body {
  display: flex;
  flex-direction: column;
  align-content: space-around;
  background-image: url(img/body2.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
}

/* end of header */

/* mainn......!!!! */

/* main */
#meal-section {
  padding: 20px;
  min-height: 300px;
  background-color: rgba(65, 65, 62, 0.342);
  width: 85vw;
  margin: 20px auto;
}
form {
  padding: 40px;
  position: relative;
  height: 100px;
  display: flex;
  flex-flow: row;
  justify-content: center;
}
#mealInput {
  height: 80px;
  width: 400px;
  text-align: center;
  font-size: 2.5em;
  background-color: rgba(65, 63, 63, 0.493);
  border: none;
  color: rgb(255, 255, 255);
  font-weight: 900;
  border-bottom: 3px solid white;
  transition-duration: 0.2s;
  transition-timing-function: ease;
  outline: none;
  transform: translateX(50%);
}
#mealInput:hover,
#mealInput:focus,
input:hover + #mealInput {
  border-bottom: 3px solid rgb(0, 174, 255);
  width: 300;
  transform: translateX(0);
}
#lookMeal {
  height: 80px;
  width: 400px;
  background: rgba(177, 177, 177, 0.397);
  cursor: pointer;
  border: none;
  color: white;
  font-weight: 900;
  font-size: 2em;
  /* position: absolute; */
  left: 50%;
  transition-duration: 0.2s;
  transition-timing-function: ease;
  transform: translatex(-50%);
  outline: none;
}
#lookMeal:hover,
#mealInput:hover ~ #lookMeal,
#mealInput:focus ~ #lookMeal {
  /* position: initial; */
  transform: translatex(0);
  width: 160px;
  font-size: 1.4em;
}
/* 
.inside-form:hover,
.inside-form:focus {
  transform: translatex(0);
} */
img {
  height: 300px;
  border-radius: 5px;
  box-shadow: 5px 5px 20px rgb(63, 63, 63);
}

#mealsContainer {
  display: flex;
  margin: 0 auto;
  min-height: 100px;
  justify-content: space-around;
  flex-wrap: wrap;
  border-radius: 5px;
}

#mealsContainer div {
  margin: 10px;
  text-align: center;
  cursor: pointer;
  border: 1px solid rgba(54, 52, 52, 0.322);
  padding: 12px;
  border-radius: 10px;
  background-color: rgba(250, 250, 250, 0.486);

  transition: 0.1s linear;
}
#mealsContainer div:hover {
  background-color: rgb(82, 59, 54);
  transform: rotate(5deg);
}

#mealsContainer div h3 {
  color: white;
  font-family: "Amatic SC", cursive;
  font-size: 40px;
  background-color: rgba(4, 4, 26, 0.904);
}

#category-description {
  height: 500px;
  width: 1000px;
  margin: auto;
}

#description-container div {
  /* border: 1px solid white; */
  padding: 50px 40px;
  background: rgba(0, 0, 0, 0.74);
  margin: 20px auto;
  position: relative;
  border-radius: 5px;
  color: rgb(199, 199, 199);
}
#description-container div h3 {
  font-size: 4em;
  padding: 20px 0;
  font-family: cursive;
}
#description-container div p {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  height: 0;
  width: 90%;
  padding: 0 50px;
  overflow: hidden;
  font-family: "Amatic SC", cursive;
  /* border: 1px solid red; */
  display: flex;
  font-size: 1.8em;
  align-items: center;
  background-color: rgba(224, 224, 224, 0.966);
  color: rgb(87, 87, 87);
  transition: 1s ease;
  border-radius: 5px;
}
#description-container > div > .show-p:hover + .hide-paragraph,
#description-container div p:hover {
  height: 100%;
}
/* #description-container > div:hover > .hide-paragraph {
  height: 100%;
} */

#description-container > div > img {
  cursor: pointer;
  box-shadow: 0 1px 100px inset rgba(128, 128, 128, 0.993);
  padding: 12px;
}

/* LETS TAKE CARE OF THE MODAL!!!! */
#modal {
  height: 100%;
  width: 100%;
  display: none;
  font-family: "Amatic SC", cursive;
  font-size: 1.5em;
}

#modal-textbox {
  margin: 20px auto;
  border-radius: 5px;
  background: rgba(204, 204, 204, 0.993);
  /* box-shadow: 20px 20px 90px rgba(248, 248, 248, 0.658); */
  background-image: url(img/menu4.jpg);
  background-size: contain;
  padding: 20px;
  position: relative;
}
#back {
  position: absolute;
  top: 20px;
  left: 20px;
  height: 100px;
  width: 100px;
  background-image: url(icons/icon1.png);
  background-size: contain;
  border-radius: 20px;
  background-color: rgba(31, 46, 46, 0.973);
  border: 1px solid rgba(255, 255, 255, 0.418);
  transition: rotate(285deg);
  transition-timing-function: 2s;
  outline: none;
}
#back:hover {
  background-color: rgb(100, 139, 135);
}
#ingredients {
  display: flex;
  flex-flow: row wrap;
  padding: 10px 60px;
  justify-content: space-between;
}
#ingredients li {
  list-style-type: none;
  color: white;
  /* border: 1px solid black; */
  background-color: rgba(34, 34, 34, 0.856);
  border-radius: 5px;
  padding: 10px;
  width: 45%;
  margin: 5px;
  text-align: justify;
  font-size: 1.1em;
}
#modal-textbox p {
  border-top: 0.5px solid rgba(161, 159, 159, 0.644);
  padding: 40px 120px;
  letter-spacing: 1.5px;
  color: white;
  background-color: rgba(34, 34, 34, 0.945);
  font-size: 0.9em;
  font-family: "Ubuntu Condensed", sans-serif;
}

#category {
  font-size: 4em;
  color: white;
  background-color: rgba(34, 34, 34, 0.856);
}
#region {
  font-size: 2.5em;
  color: white;
  background-color: rgba(34, 34, 34, 0.856);
}
#title {
  font-size: 2em;
  color: white;
  background-color: rgba(34, 34, 34, 0.856);
}
#instruction-title {
  font-size: 3em;
  color: white;
  background: rgba(48, 48, 48, 0.856);
}
#video-instructions {
  margin: 50px;
  height: 420px;
  width: 580px;
  padding: 12px;
  background-color: rgba(14, 14, 14, 0.781);
  border-radius: 5px;
}

/* ////////////////////////
////////////category title///
/////////////////////////// */
#category-title {
  color: rgb(48, 33, 33);
  width: 100%;
  margin-top: 300px;
  font-size: 3em;
  height: 300px;
  background-color: rgba(216, 216, 216, 0.568);
  display: flex;
  align-items: center;
  justify-content: center;
}

/* END OF THE MODAL */

@media (max-width: 1030px) {
  #mealInput,
  #lookMeal {
    transform: translateX(0);
    font-size: 1.5em;
  }
  #mealInput {
    width: 300px;
  }
  #lookMeal {
    width: 200px;
  }
  #category-description {
    width: 100%;
  }
  img {
    height: 200px;
  }

  /* fixing modal screen adjust */
  #back {
    height: 70px;
    width: 70px;
  }

  #instructions {
    font-size: 12px;
  }
  #mealsContainer div h3 {
    font-size: 2em;
  }
}

@media (max-width: 815px) {
  header h1 {
    padding: 40px;
    font-size: 3em;
  }
  #mealInput {
    width: 250px;
    height: 60px;
    font-size: 1.2em;
  }
  #lookMeal {
    width: 120px;
    height: 60px;
    font-size: 1.1em;
  }
  #lookMeal:hover,
  #mealInput:hover ~ #lookMeal,
  #mealInput:focus ~ #lookMeal {
    /* position: initial; */
    transform: translatex(0);
    width: 100px;
    font-size: 1em;
  }
  #category {
    font-size: 2.5em;
  }
  #region {
    font-size: 1.9em;
  }
  #title {
    font-size: 1.5em;
  }
  #ingredients li {
    font-size: 0.9em;
    width: 40%;
  }
  #instruction-title {
    font-size: 2em;
    margin-top: 70px;
  }
  #video-instructions {
    height: 250px;
    width: 350px;
  }
  #back {
    border-radius: 10px;
  }

  #mealsContainer div img {
    width: 170px;
    height: 170px;
  }
  #mealsContainer div h3 {
    font-size: 1.8em;
  }
}

@media (max-width: 700px) {
  header {
    height: 90vh;
    padding-top: 0;
  }
  header h1 {
    font-size: 1.5em;
    padding: 30px;
    height: 70px;
  }
  img {
    height: 100px;
  }
  main {
    max-width: 100vw;
  }
  #category-description {
    width: 95%;
  }

  #description-container div h3 {
    font-size: 2em;
    padding: 20px 0;
    font-family: cursive;
  }
  #description-container div p {
    font-size: 1.1em;
    border-radius: 5px;
    padding: 0 20px;
    height: 0;
  }

  #description-container {
    width: 100%;
  }
  #category-title {
    width: 100%;
  }

  #modal-textbox p {
    padding: 20px;
    font-size: 0.8em;
  }
  #video-instructions {
    margin: 12px;
  }
  #meal-section {
    margin: 20px auto;
  }
}

@media (max-width: 542px) {
  #mealInput {
    width: 150px;
    font-size: 1em;
  }
  #lookMeal {
    font-size: 1em;
    width: 100px;
  }
  #lookMeal:hover,
  #mealInput:hover ~ #lookMeal,
  #mealInput:focus ~ #lookMeal {
    transform: translatex(0);
    width: 90px;
    font-size: 0.7em;
  }
  #meal-section {
    padding: 20px 3px;
    margin: 20px 0;
    width: 100vw;
  }

  #mealsContainer div img {
    width: 250px;
    height: 230px;
  }

  #back {
    top: 0;
    left: 0;
    height: 40px;
    width: 100px;
  }
  #category {
    margin-top: 20px;
    font-size: 1.8em;
  }
  #region {
    font-size: 1.5em;
  }
  #title {
    margin-top: 40px;
  }

  #ingredients {
    padding: 12px;
  }

  #video-instructions {
    margin: 1px;
    height: 190px;
    width: 310px;
  }
}
